:root {
  --primary: #283F55; /* كحلي */
  --secondary: #E57D29; 
  --accent: #93A489; /* أخضر */
  --dark: #333333;
  --light-gray: #F2F4F8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  height: 100vh;
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.otp-container-box {
  background: white;
  padding: 40px 35px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 
      0 0 15px rgba(40,63,85,0.6),
      0 0 30px rgba(40,63,85,0.4),
      0 0 45px rgba(40,63,85,0.3);
  animation: fadeIn 0.8s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid var(--primary);
}

.logo img {
  width: 80px;
  margin-bottom: 15px;
}

.otp-container-box h2 {
  color: var(--primary);
  margin-bottom: 10px;
  font-weight: 700;
}

.otp-container-box p {
  color: var(--dark);
  margin-bottom: 20px;
  text-align: center;
}

.otp-inputs {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.otp-input {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 26px;
  border: 2px solid var(--primary);
  border-radius: 10px;
  background: #fff;
  color: var(--primary);
  font-weight: bold;
  transition: 0.3s;
}

.otp-input:focus {
  outline: none;
  border-color: var(--secondary);
  box-shadow: 0 0 8px rgba(229, 125, 41, 0.5);
}

button {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  border: none;
  background: var(--accent);
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

button:hover {
  box-shadow: 0 12px 25px rgba(40, 63, 85, 0.35);
}

#timer {
  margin-top: 12px;
  font-weight: 600;
  color: var(--primary);
  text-align: center;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}