:root {
    --primary: #283F55; /* كحلي */
    --secondary: #E57D29; 
    --accent: #93A489; /* أخضر */
    --dark: #333333;
    --light-gray: #F2F4F8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background: white;
    padding: 40px 35px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 
        0 0 15px rgba(40,63,85,0.6),   /* هايلايت كحلي مشع */
        0 0 30px rgba(40,63,85,0.4), 
        0 0 45px rgba(40,63,85,0.3);
    animation: fadeIn 0.8s ease-in-out;
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease;
    border: 4px solid var(--primary); /* إطار كحلي */
}

/* عند المرور على البوكس */
.login-container:hover {
    box-shadow: 
        0 0 25px rgba(40,63,85,0.6),   /* هايلايت كحلي مشع */
        0 0 40px rgba(40,63,85,0.4), 
        0 0 55px rgba(40,63,85,0.3);
}

.login-container h2 {
    color: var(--primary);
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    color: var(--primary);
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 600;
}

.input-group input {
    width: 100%;
    padding: 14px 15px;
    border-radius: 12px;
    border: 1px solid #ddd;
    outline: none;
    background-color: #fff;
    color: var(--dark);
    transition: all 0.3s ease;
}

.input-group input:focus {
    border-color: var(--secondary); /* كحلي */
    box-shadow: var(--secondary);
}

button {
    width: 100%;
    padding: 14px;
    border-radius: 14px;
    border: none;
    background: var(--accent); /* أخضر */
    color: white;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
}

button:hover {
    
   
    box-shadow: 0 12px 25px rgba(40, 63, 85, 0.35);
}

.extra {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.extra a {
    color: var(--primary);
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.extra a:hover {
    color: var(    --secondary);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
}